* {
    box-sizing: border-box;
}

body {
    background-color: #fffdd0;
}

.content-center {
    background-color: #d2691e;
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8%;    
    font-family: Arial, Helvetica, sans-serif;
}

.content-center .text-center {
    text-align: center;
}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}

.content-center input, button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}


.content-center input {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 5px;
}

.content-center button {
    background-color: #f6ab56;
}

.content-center button:hover, button:focus {
    cursor: pointer;
}

.content-center button:active {
    background-color: #fabdd0;
    cursor: pointer;
}

.content-center input:hover, input:focus {
    background-color: #fabdd0;
    cursor: auto;
}

header a {
    color: #3f3f3f;
    text-decoration: none;
}

header a:visited {
    color: black;
    text-decoration: none;
}

header h1 {
    font-size: 5em;
    text-align: center;
    margin: 20px auto;    
    font-family: 'Tangerine', Arial, Helvetica, sans-serif;
}

footer {
    font-size: 0.6em;
    text-align: center;
    margin-top: 20px;    
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Tangerine';
    src: url(../assets/fonts/tangerine/Tangerine-Bold.ttf);
}